body {
  font-family: Poppins, sans-serif;
  margin:0;
}

nav {
  height:70px;
  display:flex;
  background: #FFFFFF;
  box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
  align-items: center;
}

.logo {
  width: 90.02px;
  height: 36.35px;
  margin-left:30px;
}

.hero-container{
  display:flex;
  align-items: center;
  flex-direction: column;
}

.photo-grid {
  width: 500px;
  height: 300px;
  margin-top:26px;
  margin-left:auto;
  margin-right:auto;
}

.text-container {
  display:flex;
  flex-direction: column;
  margin-right:50%;
}

.online-experiences {
  font-weight:600;
  font-size: 36px;
  font-style: normal;
}

.h3 {
  margin-top:-5px;
  font-weight: 300;
  font-style: normal;
  font-size:16px;
}

.cards-container {
  display:flex;
  flex-direction: column;
  align-items: center;
  margin-right:81%;
  margin-top:49px;
}

.card-images {
  border-radius: 9px;
  width: 176px; 
  height: 235px;
}

#starimg {
  width: 14px;
  height: 14px;
  margin-right:3px;
  margin-bottom: 2px;
}

.undertext-container {
  display:flex;
  margin-top:-9px;
  margin-right:130px;
  flex-direction: row;
  align-items: center;
}